<!-- footer
================================================== -->
<footer>
    <div class="row">
        <div class="twelve columns">
            <ul class="social-links">
                <li><a href="https://www.facebook.com/profile.php?id=61552419213398"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/dimi_tvp?lang=en"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/dimitarnikolov1/"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/nikolovdimitur/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://bitbucket.org/Dimoto/"><i class="fab fa-bitbucket"></i></a></li>
                <li><a href="https://github.com/Dimitvp"><i class="fab fa-github"></i></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; 2018 - Dimoto</li>
                <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
            </ul>
        </div>
        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
    </div>
</footer> 
<!-- Footer End-->