<!-- About Section
================================================== -->
<section id="about">
    <div class="row">
        <div class="three columns">
            <img class="profile-pic" src="images/profilepic.jpg" alt="" />
        </div>
        <div class="nine columns main-col">
            <h2>About Me</h2>
            <p>
                I wanted to travel the world but after seeing small piece of it I got introduced to coding. <br />
                For few years now it is my hobby and passion and I think it is time to become my profession, and even my way of life.
                I think I have analytical and problem-solving skills as well as team working abilities,
                and that these are some of my most valued competencies. <br />I have been part of various software development projects, you can review them below.

            </p>
            <div class="row">
                <div class="columns contact-details">
                    <h2>Contact Details</h2>
                    <p class="address">
                        <span>Dimitar Nikolov</span><br>
                        <span>(+359)888-088-531</span><br>
                        <span>Sofia, Bulgaria</span><br>
                        <span>dimitar.nikolov.tvp@gmail.com</span>
                    </p>
                </div>
                <div class="columns download">
                    <p>
                        <a asp-action="DownloadResume" class="button"><i class="fa fa-download"></i>Download Resume</a>
                        @*<a asp-action="Download" asp-route-id="@Model.Course.Id" asp-route-studentid="@student.Id">Download</a>*@

                    </p>
                </div>
            </div> <!-- end row -->
        </div> <!-- end .main-col -->
    </div>
</section>
<!-- About Section End-->