<!-- Call-To-Action Section
================================================== -->
<section id="call-to-action">
    <div class="row">
        <div class="two columns header-col">
            <h1><span>Get Hosting.</span></h1>
        </div>
        <div class="seven columns">
            <h2><span class="lead">My View for the World </span></h2>
            <p>
                <span class="lead">
                    Life is like a game in Real-Life Escape Room.<br />
                    The more you count on your own projections, the more difficult it will be to get out.
                </span>
            </p>
        </div>
        <div class="three columns action">

        </div>
    </div>
</section>
<!-- Call-To-Action Section End-->