<!-- Header
   ================================================== -->
<header id="home">
    <nav id="nav-wrap">
        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
        <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
            <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            @*<li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>*@
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
        </ul> <!-- end #nav -->
    </nav> <!-- end #nav-wrap -->
    <div class="row banner">
        <div class="banner-text">
            <h1 class="responsive-headline">I'm Dimitar Nikolov</h1>
            <h3>
                I'm a Sofia based <span>software developer</span> creating awesome and
                effective software for companies of all sizes around the globe. Let's <a class="smoothscroll" href="#about">start scrolling</a>
                and learn more <a class="smoothscroll" href="#about">about me</a>.
            </h3>
            <hr />
            <ul class="social">
                <li><a href="https://www.facebook.com/profile.php?id=1190307139"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/dimi_tvp?lang=en"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/u/0/+%D0%B4%D0%B8%D0%BC%D0%B8%D1%82%D1%8A%D1%80%D0%BD%D0%B8%D0%BA%D0%BE%D0%BB%D0%BE%D0%B2%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8A%D1%82%D0%92%D0%B5%D0%BD%D0%B5%D1%80%D0%B0"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/in/dimitarnikolov1/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/nikolovdimitur/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://bitbucket.org/Dimoto/"><i class="fa fa-bitbucket"></i></a></li>
                <li><a href="https://github.com/Dimitvp"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
    </div>
    <p class="scrolldown">
        <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
    </p>
</header> 
<!-- Header End -->