<!-- Portfolio Section
================================================== -->
<section id="portfolio">
    <div class="row">
        <div class="twelve columns collapsed">
            <h1>Check Out Some of My Work</h1>
            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-01" title="">
                            <img alt="" src="images/portfolio/PawGuide.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Paw Guide</h5>
                                    <p>catalog site</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-02" title="">
                            <img alt="" src="images/portfolio/PetsLostAndFound.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Pets Lost And Found</h5>
                                    <p>catalog site</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-03" title="">
                            <img alt="" src="images/portfolio/DrenenConsoleGame.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Dranen-ConsoleGame</h5>
                                    <p>.NET Console Game</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-04" title="">
                            <img alt="" src="images/portfolio/CatchTheSoftBeer.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Catch the Soft Beer</h5>
                                    <p>Java desktop game</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-05" title="">
                            <img alt="" src="images/portfolio/meow.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Farmer Boy</h5>
                                    <p>Branding</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-06" title="">
                            <img alt="" src="images/portfolio/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Girl</h5>
                                    <p>Photography</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-07" title="">
                            <img alt="" src="images/portfolio/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Origami</h5>
                                    <p>Illustrration</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-08" title="">
                            <img alt="" src="images/portfolio/construction-software.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Retrocam</h5>
                                    <p>Web Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>  <!-- item end -->
            </div> <!-- portfolio-wrapper end -->
        </div> <!-- twelve columns end -->
        <!-- Modal Popup
         --------------------------------------------------------------- -->
        <div id="modal-01" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-PawGuide.jpg" alt="" />
            <div class="description-box">
                <h4>Paw Guide</h4>
                <p>Website for all pet lovers out there. In this site you can find or add a business that allows pets on their premises.</p>
                <span class="categories"><i class="fa fa-tag"></i>Catalog, Web sait</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/Dimitvp/Paw-Guide" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-01 End -->
        <div id="modal-02" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-PetsLostAndFound.jpg" alt="" />
            <div class="description-box">
                <h4>Pets Lost and Found</h4>
                <p>Website as a team project for the Team Work course in SoftUni.</p>
                <span class="categories"><i class="fa fa-tag"></i>Web Development</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/TeamWorkSoftUni/PetsLostAndFound" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-02 End -->
        <div id="modal-03" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-DrenenConsoleGame.jpg" alt="" />
            <div class="description-box">
                <h4>Drenen Console Game</h4>
                <p>Console game as a team project for the C# course in SoftUni.</p>
                <span class="categories"><i class="fa fa-tag"></i>Console Game</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/DranenTeam/Dranen-ConsoleGame" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-03 End -->
        <div id="modal-04" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/CatchTheSoftBeer.png" alt="" />
            <div class="description-box">
                <h4>Catch the Soft Beer</h4>
                <p>Desktop java game as a team project for the Java Fundamentals course in SoftUni.</p>
                <span class="categories"><i class="fa fa-tag"></i>Desktop java game </span>
            </div>
            <div class="link-box">
                <a href="https://github.com/TeamEdinburgh/Catch-the-Soft-Beer" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-04 End -->
        <div id="modal-05" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/meow.png" alt="" />
            <div class="description-box">
                <h4>Farmer Boy</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
            </div>
            <div class="link-box">
                <a href="http://www.behance.net" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-05 End -->
        <div id="modal-06" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/construction-software.png" alt="" />
            <div class="description-box">
                <h4>Girl</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Photography</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-06 End -->
        <div id="modal-07" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/construction-software.png" alt="" />
            <div class="description-box">
                <h4>Origami</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-07 End -->
        <div id="modal-08" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-retrocam.jpg" alt="" />
            <div class="description-box">
                <h4>Retrocam</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
            </div>
            <div class="link-box">
                <a href="http://www.behance.net" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-01 End -->

    </div> <!-- row End -->
</section> 
<!-- Portfolio Section End-->