<!-- Portfolio Section
================================================== -->
<section id="portfolio">
    <div class="row">
        <div class="twelve columns collapsed">
            <h1>Check Out Some of My Work</h1>
            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-01" title="Paw Guide">
                            <img alt="Paw Guide" src="images/portfolio/PawGuide.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Paw Guide</h5>
                                    <p>catalog site</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-02" title="Pets Lost And Found">
                            <img alt="Pets Lost And Found" src="images/portfolio/PetsLostAndFound.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Pets Lost And Found</h5>
                                    <p>catalog site</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-03" title="Drenen Console Game">
                            <img alt="Drenen Console Game" src="images/portfolio/DrenenConsoleGame.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Dranen-ConsoleGame</h5>
                                    <p>.NET Console Game</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-04" title="Catch The Soft Beer">
                            <img alt="Catch The Soft Beer" src="images/portfolio/CatchTheSoftBeer.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Catch the Soft Beer</h5>
                                    <p>Java desktop game</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-05" title="Meow">
                            <img alt="Meow" src="images/portfolio/meow.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Meow</h5>
                                    <p>Site for Adoption</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-06" title="construction">
                            <img alt="construction-software" src="images/portfolio/buffbet.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Buff.bet</h5>
                                    <p>Betting site</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-07" title="construction">
                            <img alt="construction-software" src="images/portfolio/portainer.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Docker Solution</h5>
                                    <p>Inside back-end Docker Solution</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-08" title="construction">
                            <img alt="construction-software" src="images/portfolio/LogoBG.png">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>OSINT tutorials</h5>
                                    <p>YouTube Channel</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>  <!-- item end -->
            </div> <!-- portfolio-wrapper end -->
        </div> <!-- twelve columns end -->
        <!-- Modal Popup
         --------------------------------------------------------------- -->
        <div id="modal-01" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-PawGuide.jpg" alt="Paw Guide" />
            <div class="description-box">
                <h4>Paw Guide</h4>
                <p>Website for all pet lovers out there. In this site you can find or add a business that allows pets on their premises.</p>
                <span class="categories"><i class="fa fa-tag"></i>Catalog, Web sait</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/Dimitvp/Paw-Guide" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- Paw Guide End -->
        <div id="modal-02" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-PetsLostAndFound.jpg" alt="Pets Lost And Found" />
            <div class="description-box">
                <h4>Pets Lost and Found</h4>
                <p>Website as a team project for the Team Work course in SoftUni.</p>
                <span class="categories"><i class="fa fa-tag"></i>Web Development</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/TeamWorkSoftUni/PetsLostAndFound" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- Pets Lost and Found End -->
        <div id="modal-03" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-DrenenConsoleGame.jpg" alt="Drenen Console Game" />
            <div class="description-box">
                <h4>Drenen Console Game</h4>
                <p>Console game as a team project for the C# course in SoftUni.</p>
                <span class="categories"><i class="fa fa-tag"></i>Console Game</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/DranenTeam/Dranen-ConsoleGame" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- Drenen Console Game End -->
        <div id="modal-04" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-CatchTheSoftBeer.png" alt="Catch The Soft Beer" />
            <div class="description-box">
                <h4>Catch the Soft Beer</h4>
                <p>Desktop java game as a team project for the Java Fundamentals course in SoftUni.</p>
                <span class="categories"><i class="fa fa-tag"></i>Desktop java game </span>
            </div>
            <div class="link-box">
                <a href="https://github.com/TeamEdinburgh/Catch-the-Soft-Beer" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- Catch the Soft Beer End -->
        <div id="modal-05" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-meow.png" alt="Meow" />
            <div class="description-box">
                <h4>Meow</h4>
                <p>Website as a team project for the Softuniada in SoftUni.</p>
                <a href="http://meow.apphb.com/" target="_blank">http://meow.apphb.com/</a>
                <span class="categories"><i class="fa fa-tag"></i>Web Site for Adoption</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/Dimitvp/Meow" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- Meow End -->
        <div id="modal-06" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-buffbet.png" alt="construction" />
            <div class="description-box">
                <h4>Buff.bet</h4>
                <p>This is the main product of the company Ultra Play. I've done many features and fixed many bugs on this site.</p>
                <span class="categories"><i class="fa fa-tag"></i>Site for betting on sports and eSports</span>
            </div>
            <div class="link-box">
                <a href="https://buff.bet" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- Buff.bet End -->
        <div id="modal-07" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-portainer.png" alt="construction" />
            <div class="description-box">
                <h4>Docker Solution</h4>
                <p>Some Docker solution was needed for a problem that we had on the back-end. I added Portainer tool so it will be easier to our support team to work with all containers.</p>
                <span class="categories"><i class="fa fa-tag"></i>Docker solution</span>
            </div>
            <div class="link-box">
                <a href="#" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- Portainer End -->
        <div id="modal-08" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-LogoBG.png" alt="construction" />
            <div class="description-box">
                <h4>YouTube Channel</h4>
                <p>A YouTube channel explaining OSINT methodologies and strategies in order to fight propaganda and disinformation.</p>
                <span class="categories"><i class="fa fa-tag"></i>OSINT</span>
            </div>
            <div class="link-box">
                <a href="https://www.youtube.com/watch?v=2fO59KQYPGw" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- PEEP youTube channel -->

    </div> <!-- row End -->
</section> 
<!-- Portfolio Section End-->