<!-- Resume Section
================================================== -->
<section id="resume">
    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">
        <div class="three columns header-col">
            <h1><span>Education</span></h1>
        </div>
        <div class="nine columns main-col">
            <div class="row item">
                <div class="twelve columns">
                    <h3>Software University</h3>
                    <p class="info">.NET developer <span>&bull;</span> <em class="date">January  2015</em></p>
                    <p>
                        Because of my way of life, my best option for retraining myself was taking courses in private academies like Telerik Bulgaria.
                        This is how I started programming. After Software University opened its doors, I started attending their lectures.
                        I've learned a lot about the base consepts in programming,
                        OOP, MVC and some OOP design patterns.
                    </p>
                </div>
            </div> <!-- item end -->
            <div class="row item">
                <div class="twelve columns">
                    <h3>29th High School “Kuzman Shapkarev”</h3>
                    <p class="info">High School Diploma, Biology and Chemistry in English<span>&bull;</span> <em class="date">June 2006</em></p>
                    <p>
                        In my high school I learned a lot about biology and chemistry... in English of course ;)
                    </p>
                </div>
            </div> <!-- item end -->
        </div> <!-- main-col end -->
    </div> <!-- End Education -->
    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">
        <div class="three columns header-col">
            <h1><span>Work</span></h1>
        </div>
        <div class="nine columns main-col">
            <div class="row item">
                <div class="twelve columns">
                    <h3>Breakout Rooms LTD</h3>
                    <p class="info">Co-Founder<span>&bull;</span> <em class="date">February 2016 - Present</em></p>
                    <p>
                        Me and my friends started real-life escape room. As a project lead
                        I managed to put together a great team and kept them working together despite some differences.
                        We were able to deliver high-quality product and I`ve learned a lot about different aspects of life.
                    </p>
                </div>
            </div> <!-- item end -->
            <div class="row item">
                <div class="twelve columns">
                    <h3>Royal Caribbean Cruises, Ltd.</h3>
                    <p class="info">Casino Dealer<span>&bull;</span> <em class="date">May 2010 - January 2016</em></p>
                    <p>
                        RCCL is one of the leading cruise lines on the market and owner of the biggest passenger ships in the world.<br />
                        By delivering the best customer experience & owning  the problems
                        I was able to ensure client satisfaction. The most beneficial was to work with miltunational crew.<br />
                    </p>
                </div>
            </div> <!-- item end -->
        </div> <!-- main-col end -->
    </div> <!-- End Work -->
    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">
        <div class="three columns header-col">
            <h1><span>Skills</span></h1>
        </div>
        <div class="nine columns main-col">
            <p>
                I've tried different technologies like HTML, CSS, Javascript, PHP, Java,
                however the one that I liked the most is .NET and the different libraries and frameworks related to it.
                I really like the IDE - Visual Studio as well.
            </p>
            <div class="bars">
                <ul class="skills">
                    <li><span class="bar-expand dotnet"></span><em>.NET Core</em></li>
                    <li><span class="bar-expand aspnet"></span><em>ASP .NET Core MVC</em></li>
                    <li><span class="bar-expand entity"></span><em>Entity Framework</em></li>
                    <li><span class="bar-expand mssql"></span><em>MS SQL Server</em></li>
                    <li><span class="bar-expand javascript"></span><em>Java Script</em></li>
                    <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
                    <li><span class="bar-expand css"></span><em>CSS3</em></li>
                    <li><span class="bar-expand html5"></span><em>HTML5</em></li>
                    <li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>
                </ul>
            </div><!-- end skill-bars -->
        </div> <!-- main-col end -->
    </div> <!-- End skills -->
</section> 
<!-- Resume Section End-->