<!-- Testimonials Section
================================================== -->
<section id="testimonials">
    <div class="text-container">
        <div class="row">
            <div class="two columns header-col">
                <h1><span>Client Testimonials</span></h1>
            </div>
            <div class="ten columns flex-container">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <blockquote>
                                <p>
                                    Science is a way of thinking much more than it is a body of knowledge.
                                </p>
                                <cite>Carl Sagan</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    Whatever happens in the world is real, what one thinks should have happened is projection.
                                    We suffer more from our fictitious illusion and expectations of reality.
                                </p>
                                <cite>Jacque Fresco</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    We are made of star stuff.
                                </p>
                                <cite>Carl Sagan</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    Either we learn to live together in full cooperation or we will cause our own extinction.
                                </p>
                                <cite>Jacque Fresco, The Best That Money Can't Buy</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    If it can be destroyed by the truth it deserves to be destroyed by the truth.
                                </p>
                                <cite>Carl Sagan</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    There are no bad people, there are people with insufficient information to make appropriate decisions.
                                </p>
                                <cite>Jacque Fresco</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    The system I advocated a resource based global economy is not perfect it is just a lot better then what we have.
                                    We can never achieve perfection.
                                </p>
                                <cite>Jacque Fresco</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                    </ul>
                </div> <!-- div.flexslider ends -->
            </div> <!-- div.flex-container ends -->
        </div> <!-- row ends -->
    </div>  <!-- text-container ends -->
</section> 
<!-- Testimonials Section End-->