@*@{
        ViewData["Title"] = "Home Page";
    }*@

<!-- Header
   ================================================== -->
<header id="home">
    <nav id="nav-wrap">
        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
        <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
            <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
        </ul> <!-- end #nav -->
    </nav> <!-- end #nav-wrap -->
    <div class="row banner">
        <div class="banner-text">
            <h1 class="responsive-headline">I'm Dimitar Nikolov.</h1>
            <h3>
                I'm a Sofia based <span>software developer</span> creating awesome and
                effective software for companies of all sizes around the globe. Let's <a class="smoothscroll" href="#about">start scrolling</a>
                and learn more <a class="smoothscroll" href="#about">about me</a>.
            </h3>
            <hr />
            <ul class="social">
                <li><a href="https://www.facebook.com/profile.php?id=1190307139"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/dimi_tvp?lang=en"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/u/0/+%D0%B4%D0%B8%D0%BC%D0%B8%D1%82%D1%8A%D1%80%D0%BD%D0%B8%D0%BA%D0%BE%D0%BB%D0%BE%D0%B2%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D1%8A%D1%82%D0%92%D0%B5%D0%BD%D0%B5%D1%80%D0%B0"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/in/dimitarnikolov1/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/nikolovdimitur/"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://bitbucket.org/Dimoto/"><i class="fa fa-bitbucket"></i></a></li>
                <li><a href="https://github.com/Dimitvp"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
    </div>
    <p class="scrolldown">
        <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
    </p>
</header> <!-- Header End -->
<!-- About Section
================================================== -->
<section id="about">
    <div class="row">
        <div class="three columns">
            <img class="profile-pic" src="images/profilepic.jpg" alt="" />
        </div>
        <div class="nine columns main-col">
            <h2>About Me</h2>
            <p>
                I wanted to travel the world but after seeing small piece of it I got introduced to coding . 
                For few years now it is my hobby and  I have been a part of various web development projects. 
                I think it is time to become my profession and even my way of life. 
                I think I have analytical and problem-solving skills as well as team working abilities 
                I think they are some of my most valued competencies.
            </p>
            <div class="row">
                <div class="columns contact-details">
                    <h2>Contact Details</h2>
                    <p class="address">
                        <span>Dimitar Nikolov</span><br>
                        <span>(+359)888-088-531</span><br>
                        <span>Sofia, Bulgaria</span><br>
                        <span>dimitar.nikolov.tvp@gmail.com</span>
                    </p>
                </div>
                <div class="columns download">
                    <p>
                        <a asp-action="DownloadResume"class="button"><i class="fa fa-download"></i>Download Resume</a>
                        @*<a asp-action="Download" asp-route-id="@Model.Course.Id" asp-route-studentid="@student.Id">Download</a>*@

                    </p>
                </div>
            </div> <!-- end row -->
        </div> <!-- end .main-col -->
    </div>
</section> <!-- About Section End-->
<!-- Resume Section
================================================== -->
<section id="resume">
    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">
        <div class="three columns header-col">
            <h1><span>Education</span></h1>
        </div>
        <div class="nine columns main-col">
            <div class="row item">
                <div class="twelve columns">
                    <h3>Software University</h3>
                    <p class="info">.NET developer <span>&bull;</span> <em class="date">January  2015</em></p>
                    <p>
                        Because of my way of life, my best option for retraining myself was courses in private academies like Telerik Bulgaria. 
                        That is how I started programing. After Software University started their business, I started doing their cources. 
                        I learned a lot of the base consepds in programing. 
                        I learned about OOP, MVC and some OOP design patterns.
                    </p>
                </div>
            </div> <!-- item end -->
            <div class="row item">
                <div class="twelve columns">
                    <h3>29th High School “Kuzman Shapkarev”</h3>
                    <p class="info">High School Diploma, Biology and Chemistry in English<span>&bull;</span> <em class="date">June 2006</em></p>
                    <p>
                        In my high school a learned a lot about biology and chemistry... in English of course ;)
                    </p>
                </div>
            </div> <!-- item end -->
        </div> <!-- main-col end -->
    </div> <!-- End Education -->
    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">
        <div class="three columns header-col">
            <h1><span>Work</span></h1>
        </div>
        <div class="nine columns main-col">
            <div class="row item">
                <div class="twelve columns">
                    <h3>Breakout Rooms LTD</h3>
                    <p class="info">Co-Founder<span>&bull;</span> <em class="date">February 2016 - Present</em></p>
                    <p>
                        Me and my friends started real-life escape room. 
                        I managed to put together a great team and kept them working together despite some differences. 
                        It was very successful and I learned a lot for different aspects of life.
                    </p>
                </div>
            </div> <!-- item end -->
            <div class="row item">
                <div class="twelve columns">
                    <h3>Royal Caribbean Cruises, Ltd.</h3>
                    <p class="info">Casino Dealer<span>&bull;</span> <em class="date">May 2010 - January 2016</em></p>
                    <p>
                        RCCL is one of the leading cruise lines on the market and owner of the biggest passenger ships in the world.<br />
                        By delivering the best customer experience & owning  the problems
                        I was able to ensure that the guests will come back again- the key to successful business.<br/>
                        By running profitable promotions &  always going the  extra mile to ensure guest  satisfaction, 
                        I brought my managers more revenue, helping them to achieve their targets - becoming  the highest revenue 
                        ship of the month.
                    </p>
                </div>
            </div> <!-- item end -->
        </div> <!-- main-col end -->
    </div> <!-- End Work -->
    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">
        <div class="three columns header-col">
            <h1><span>Skills</span></h1>
        </div>
        <div class="nine columns main-col">
            <p>
                I've tried different technologies like HTML, CSS, Javascript, PHP, Java, 
                but the one that I liked the best was .NET and the different libraries and frameworks related with it. 
                I realy like the IDE - Visual Studio as well.
            </p>
            <div class="bars">
                <ul class="skills">
                    <li><span class="bar-expand dotnet"></span><em>.NET Core</em></li>
                    <li><span class="bar-expand aspnet"></span><em>ASP .NET Core MVC</em></li>
                    <li><span class="bar-expand entity"></span><em>Entity Framework</em></li>
                    <li><span class="bar-expand mssql"></span><em>MS SQL Server</em></li>
                    <li><span class="bar-expand javascript"></span><em>Java Script</em></li>
                    <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
                    <li><span class="bar-expand css"></span><em>CSS3</em></li>
                    <li><span class="bar-expand html5"></span><em>HTML5</em></li>
                    <li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>
                </ul>
            </div><!-- end skill-bars -->
        </div> <!-- main-col end -->
    </div> <!-- End skills -->
</section> <!-- Resume Section End-->
<!-- Portfolio Section
================================================== -->
<section id="portfolio">
    <div class="row">
        <div class="twelve columns collapsed">
            <h1>Check Out Some of My Works.</h1>
            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-01" title="">
                            <img alt="" src="images/portfolio/PawGuide.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Paw Guide</h5>
                                    <p>catalog site</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-02" title="">
                            <img alt="" src="images/portfolio/PetsLostAndFound.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Pets Lost And Found</h5>
                                    <p>catalog site</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-03" title="">
                            <img alt="" src="images/portfolio/DrenenConsoleGame.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Dranen-ConsoleGame</h5>
                                    <p>.NET Console Game</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-04" title="">
                            <img alt="" src="images/portfolio/into-the-light.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Catch the Soft Beer</h5>
                                    <p>Java desktop game</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                @*<div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-05" title="">
                            <img alt="" src="images/portfolio/farmerboy.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Farmer Boy</h5>
                                    <p>Branding</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-06" title="">
                            <img alt="" src="images/portfolio/girl.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Girl</h5>
                                    <p>Photography</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-07" title="">
                            <img alt="" src="images/portfolio/origami.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Origami</h5>
                                    <p>Illustrration</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-08" title="">
                            <img alt="" src="images/portfolio/retrocam.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Retrocam</h5>
                                    <p>Web Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>  <!-- item end -->*@
            </div> <!-- portfolio-wrapper end -->
        </div> <!-- twelve columns end -->
        <!-- Modal Popup
         --------------------------------------------------------------- -->
        <div id="modal-01" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-PawGuide.jpg" alt="" />
            <div class="description-box">
                <h4>Paw Guide</h4>
                <p>Website for all pet lovers out there. In this site you can find or add a business that allows pets on their premises.</p>
                <span class="categories"><i class="fa fa-tag"></i>Catalog, Web sait</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/Dimitvp/Paw-Guide" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-01 End -->
        <div id="modal-02" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-PetsLostAndFound.jpg" alt="" />
            <div class="description-box">
                <h4>Pets Lost and Found</h4>
                <p>Website as a team project for the Team Work course in SoftUni.</p>
                <span class="categories"><i class="fa fa-tag"></i>Web Development</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/TeamWorkSoftUni/PetsLostAndFound" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-02 End -->
        <div id="modal-03" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-DrenenConsoleGame.jpg" alt="" />
            <div class="description-box">
                <h4>Drenen Console Game</h4>
                <p>Console game as a team project for the C# course in SoftUni.</p>
                <span class="categories"><i class="fa fa-tag"></i>Console Game</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/DranenTeam/Dranen-ConsoleGame" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-03 End -->
        <div id="modal-04" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-intothelight.jpg" alt="" />
            <div class="description-box">
                <h4>Catch the Soft Beer</h4>
                <p>Desktop java game as a team project for the Java Fundamentals course in SoftUni.</p>
                <span class="categories"><i class="fa fa-tag"></i>Desktop java game </span>
            </div>
            <div class="link-box">
                <a href="https://github.com/TeamEdinburgh/Catch-the-Soft-Beer" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-04 End -->
        <div id="modal-05" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-farmerboy.jpg" alt="" />
            <div class="description-box">
                <h4>Farmer Boy</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
            </div>
            <div class="link-box">
                <a href="http://www.behance.net" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-05 End -->
        <div id="modal-06" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-girl.jpg" alt="" />
            <div class="description-box">
                <h4>Girl</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Photography</span>
            </div>
            <div class="link-box">
                <a href="http://www.behance.net" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-06 End -->
        <div id="modal-07" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-origami.jpg" alt="" />
            <div class="description-box">
                <h4>Origami</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
            </div>
            <div class="link-box">
                <a href="http://www.behance.net" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-07 End -->
        <div id="modal-08" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/portfolio/modals/m-retrocam.jpg" alt="" />
            <div class="description-box">
                <h4>Retrocam</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
            </div>
            <div class="link-box">
                <a href="http://www.behance.net" target="_blank">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div><!-- modal-01 End -->

    </div> <!-- row End -->
</section> <!-- Portfolio Section End-->
<!-- Call-To-Action Section
================================================== -->
<section id="call-to-action">
    <div class="row">
        <div class="two columns header-col">
            <h1><span>Get Hosting.</span></h1>
        </div>
        <div class="seven columns">
            <h2><span class="lead">My View for the World </span></h2>
            <p>
                <span class="lead">
                    Life is like a game on Real-Live Escape Room.<br/>
                    The more we count on our own projections, the more difficult it will be the get out.
                </span>
            </p>
        </div>
        <div class="three columns action">

        </div>
    </div>
</section> <!-- Call-To-Action Section End-->
<!-- Testimonials Section
================================================== -->
<section id="testimonials">
    <div class="text-container">
        <div class="row">
            <div class="two columns header-col">
                <h1><span>Client Testimonials</span></h1>
            </div>
            <div class="ten columns flex-container">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <blockquote>
                                <p>
                                    Science is a way of thinking much more than it is a body of knowledge.
                                </p>
                                <cite>Carl Sagan</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    Whatever happens in the world is real, what one thinks should have happened is projection.
                                    We suffer more from our fictitious illusion and expectations of reality.
                                </p>
                                <cite>Jacque Fresco</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    We are made of star stuff.
                                </p>
                                <cite>Carl Sagan</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    Either we learn to live together in full cooperation or we will cause our own extinction.
                                </p>
                                <cite>Jacque Fresco, The Best That Money Can't Buy</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    If it can be destroyed by the truth it deserves to be destroyed by the truth.
                                </p>
                                <cite>Carl Sagan</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    There are no bad people, there are people with insufficient information to make appropriate decisions.
                                </p>
                                <cite>Jacque Fresco</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    The system I advocated a resource based global economy is not perfect it is just a lot better then what we have.
                                    We can`t never achieve perfection.
                                </p>
                                <cite>Jacque Fresco</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                    </ul>
                </div> <!-- div.flexslider ends -->
            </div> <!-- div.flex-container ends -->
        </div> <!-- row ends -->
    </div>  <!-- text-container ends -->
</section> <!-- Testimonials Section End-->
<!-- Contact Section
================================================== -->
<section id="contact">
    <div class="row section-head">
        <div class="two columns header-col">
            <h1><span>Get In Touch.</span></h1>
        </div>
        <div class="ten columns">
            <p class="lead">
                I`haven't activated this option yet but I will do it soon!<br/>
                If you want me to be part of your team, work together on projects or just chat with me, please send me an e-mail.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns">
            <!-- form -->
            <form action="" method="post" id="contactForm" name="contactForm">
                <fieldset>
                    <div>
                        <label for="contactName">Name <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactName" name="contactName">
                    </div>
                    <div>
                        <label for="contactEmail">Email <span class="required">*</span></label>
                        <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                    </div>
                    <div>
                        <label for="contactSubject">Subject</label>
                        <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                    </div>
                    <div>
                        <label for="contactMessage">Message <span class="required">*</span></label>
                        <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                    </div>
                    <div>
                        <button class="submit">Submit</button>
                        <span id="image-loader">
                            <img alt="" src="images/loader.gif">
                        </span>
                    </div>
                </fieldset>
            </form> <!-- Form End -->
            <!-- contact-warning -->
            <div id="message-warning"> Error boy</div>
            <!-- contact-success -->
            <div id="message-success">
                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
            </div>
        </div>

        <aside class="four columns footer-widgets">
            <div class="widget widget_contact">
                <h4>Address and Phone</h4>
                <p class="address">
                    <span>Dimitar Nikolov</span><br>
                    <span>(+359)888-088-531</span><br>
                    <span>Sofia, Bulgaria</span><br>
                    <span>dimitar.nikolov.tvp@gmail.com</span>
                </p>
            </div>
            @*<div class="widget widget_tweets">
                <h4 class="widget-title">Latest Tweets</h4>
                <ul id="twitter">
                    <li>
                        <span>
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
                            <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">2 Days Ago</a></b>
                    </li>
                    <li>
                        <span>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore veritatis et quasi
                            <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                        <b><a href="#">3 Days Ago</a></b>
                    </li>
                </ul>
            </div>*@
        </aside>
    </div>
</section> <!-- Contact Section End-->
@await Html.PartialAsync("_Footer")


